.table-wrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    margin-top: 30px;
}

.rounded-table {
    border-color: black;
}
.table-wrapper .rounded-table th, .rounded-table td {
    border: 1px solid #dee2e6;
    padding: 8px;

}

.editIcon{
    height: 30px;
}
.binIcon{
    height: 30px;
}

.add-button{
    width: 100%;
    height: 100%;
}
